snippet cb
	\`\`\`${1:language}
	${2:code}
	\`\`\`

snippet url
	[${2:ref}](${1:address})

snippet high
	⏫

snippet low
	🔽

snippet urge
	🔺

snippet date
	`strftime("%Y-%m-%d")`

snippet note
	- id: `strftime("%Y%m%d%H%M%S")`
	- status: #note
	- tags: [[${1:none}]]

	# ${TM_FILENAME_BASE}

	${2:text}

	---
	# References
	
snippet td
	- [ ] ${1:task}

snippet -
	- [ ] ${1:task}

snippet ma
	$${1}$${2}

snippet mb
	$$
	${1}
	$$
	
snippet 2cols
	<div class="grid grid-cols-2 gap-4">
	<div>

	<!-- The first column -->
	${1}

	</div>
	<div>

	<!-- The second column -->
	${2}

	</div>
	</div>


