snippet cb
  \`\`\`${1:language}
  ${2:}
  \`\`\`

snippet bd
  **${1}**${0}

snippet tb
  |  ${1}         |    ${2}       |
  | ------------- |-------------  |
  |      ${3}     |    ${4}       |
  |      ${5}     |    ${5}       |

snippet url
  [${2:ref}](${1:address})

snippet high
  ⏫

snippet low
  🔽

snippet urge
  🔺

snippet date
  `strftime("%Y-%m-%d")`

snippet note
  - id: `strftime("%Y%m%d%H%M%S")`
  - status: #note
  - tags: [[${1:none}]]

  # ${TM_FILENAME_BASE}

  ${2:text}

  ---
  # References
  
snippet td
  - [ ] ${1:task}

snippet -
  - [ ] ${1:task}

snippet ma
  $${1}$${2}

snippet mb
  $$
  ${1}
  $$
  
snippet 2cols
  <div class="grid grid-cols-10 gap-4">
    <div class="col-span-5">


    <!-- The first column -->
    ${1}

    </div>
    <div class="col-span-5">

    <!-- The second column -->
    ${2}

    </div>
  </div>

snippet imgsrc
  <div style="display: flex; justify-content: center;">
    <img src="/${1}" class="m h-70" />
  </div>

snippet page
  ---
  ---
  # ${1}

snippet !note
  [!note]${1}

snippet !tip
  [!tip]${1}

snippet !important
  [!important]${1}

snippet !warning
  [!warning]${1}

snippet !caution
  [!caution]${1}

snippet !summary
  [!summary]${1}

snippet !question
  [!question]${1}

snippet !todo
  [!todo]${1}

snippet !fail
  [!fail]${1}

snippet !success
  [!success]${1}

snippet !error
  [!error]${1}

snippet !bug
  [!bug]${1}

snippet !example
  [!example]${1}

snippet !cite
  [!example]${1}

snippet !quote
  [!quote]${1}
